@model WebInventory.ViewModels.LoginVM
<link href="~/Content/Fonts/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
<link href="~/Content/validationEngine.jquery.css" rel="stylesheet" />

<div class="container" style="margin-top: 10px;">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body">
                    <fieldset>
                        <legend>
                            <span class="group-addon fa-titles"><i class="fa fa-user"></i></span>
                            <h2 style="display: inline; margin-left: 2%;">Sign in</h2>
                        </legend>
                        <form id="signin">
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true)
                            <div class="col-md-16">
                                <div id="divMessage" class="row-fluid text-center alert alert-danger" style="display: none;">
                                </div>
                                @*<div class="notice"><span class="process"></span></div>*@
                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Username, new { @class = "control-label" })
                                </div>
                                <div class="col-md-12 spacer10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                        @Html.TextBoxFor(model => model.Username, new { @class = "form-control validate[required]", autocomplete = "off", placeholder = "Enter login name here", data_errormessage = "User Name is required" })
                                        @*@Html.ValidationMessageFor(model => model.Username, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-md-12">
                                    @Html.LabelFor(model => model.Password, new { @class = "control-label" })
                                </div>
                                <div class="col-md-12 spacer10">
                                    <div class="input-group">
                                        <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                        @Html.PasswordFor(model => model.Password, new { @class = "form-control validate[required]", autocomplete = "off", value = Model.Password, placeholder = "Enter password here", data_errormessage = "Password is required" })
                                        @*@Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })*@
                                    </div>
                                </div>

                                <div class="col-md-12 spacer10" style="margin: 10px auto;">
                                    @Html.CheckBoxFor(model => model.RememberMe) Remember me

                                    <span class="pull-right">
                                        @Html.ActionLink("Forgot Password?", "ForgotPassword", null, new { target = "_parent" })
                                    </span>
                                </div>

                                <div class="row-fluid">
                                    <button type="button" id="btnlogin" class="btn btn-themed" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Processing.." data-requesturl="/" style="display: block; width: 100%;">Sign in</button>
                                </div>
                                <div class="row-fluid">
                                    <div class="col-md-12 spacerM10">
                                        Don't have an account yet? @Html.ActionLink("Create an account", "signup", null, new { target = "_parent" })
                                    </div>
                                </div>
                            </div>
                        </form>
                    </fieldset>
                    @*<div class="col-md-6"></div>*@
                </div>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>

@Scripts.Render("~/bundles/jqueryval")
<script src="~/Scripts/Custom/account.js"></script>
